.page {
  padding: 2rem 1.5rem;
  max-width: 800px;
  margin: 0 auto;

  &-title {
    margin: 0;
    font-size: 2rem;
    background: linear-gradient(
      90deg,
      var(--color-brand-slate-dark),
      var(--color-brand-teal)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
